@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Portail des énergies renouvelables en VS</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="chart">
        <p>Production [kWh]</p>
        <!-- Add your line chart here -->
    </div>

    <div class="chart">
        <p>Puissance [kW]</p>
        <!-- Add your line chart here -->
    </div>

    <div class="button-container">
        <!-- Bouton "Detail NER" avec une image -->
        <a href="Home/NER">
            <div class="button">
                <img src="\img\MicrosoftTeams-image (17).png" alt="Détail NER" style="width: 50px; height: 50px;" />
                <p>Détail NER</p>
            </div>


</div>
